<!DOCTYPE html>

<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<script src="~/js/bootstrap.bundle.min.js"></script>

<html>
<head style="background-color:azure;">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:azure;">
    <div>
        @RenderBody()
    </div>
</body>
</html>

